# ENV
.env

# Logs
/storage/logs/
*.log

# Uploads (əgər project daxilindədirsə)
uploads/
2tab_uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temp / backup
*.bak
*.tmp
*.old
*.backup

# Composer (əgər istifadə etsən)
vendor/

# Node (əgər əlavə etsən)
node_modules/

# Cache
.cache/